#img-bg{
    background-image: url(https://www.gupy.io/hubfs/cultura-organizacional-1.jpeg );

    min-height: 695px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.button{
    color: #C2185B;
}